/** Add css rules here for your application. */
* {
	margin: 0px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #d8d8d8;
}

h1 {
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 1;
	color: white;
	background: -moz-linear-gradient(#3f3f3f, #0e0e0e, #3f3f3f);
	background: -webkit-linear-gradient(#3f3f3f, #0e0e0e, #3f3f3f);
	background: -o-linear-gradient(#3f3f3f, #0e0e0e, #3f3f3f);
}

#busqueda {
	position: fixed;
	float: right;
	margin-right: 1%;
	top: 9px;
	right: 70px;
	z-index: 11;
}

BUTTON#busqueda.gwt-Button {
	right: 2px;
}

#busqueda .gwt-Label {
	top: 45px;
	right: 1%;
}

DIV#titulo.gwt-HTML {
	padding-top: 30px;
}

TABLE {
	width: 1180px;
	margin: auto;
	position: relative;
	padding-bottom: 50px;
	padding-right: 5px;
	border-bottom-color: #333;
}

img {
	height: 200px;
	margin: 0px 2.5px;
}

IFRAME#__gwt_historyFrame {
	position: fixed;
	float: left;
	width: 1180px;
	min-height: 100%;
	margin: 0px;
}

#body {
	float: left;
	margin-top: 50px;
	margin-left: 1%;
	position:absolute;
}

footer {
	width: 200%;
	height: 20px;
	background: #333;
	border-top: 2px solid #000;
	position: fixed;
	bottom: 0;
	z-index: 1;
}