/** Add css rules here for your application. */
* {
	margin: 0px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #d8d8d8;
}

h1 {
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 1;
	color: white;
	background: -moz-linear-gradient(#3f3f3f, #0e0e0e, #3f3f3f);
	background: -webkit-linear-gradient(#3f3f3f, #0e0e0e, #3f3f3f);
	background: -o-linear-gradient(#3f3f3f, #0e0e0e, #3f3f3f);
}

#busqueda {
	position: fixed;
	float: right;
	margin-right: 1%;
	top: 9px;
	right: 70px;
	z-index: 11;
}

BUTTON#busqueda.gwt-Button {
	right: 2px;
}

#busqueda .gwt-Label {
	top: 45px;
	right: 1%;
}

#busqueda .gwt-ListBox {
	position: fixed;
	right: 23%;
}

DIV#titulo.gwt-HTML {
	font-size: 2em;
}

TABLE {
	width: 100%;
	margin: auto;
	position: relative;
	padding-bottom: 30px;
	padding-right: 5px;
	border-bottom-color: #333;
}

img {
	height: 200px;
	margin: 0px 2.5px;
}

img#poster {
	height: 300px;
}

IFRAME.gwt-Frame {
	width: 600px;
	height: 300px;
	margin: 0px 20%;
}

#body {
	float: left;
	margin-top: 50px;
	margin-left: 1%;
	position: absolute;
}
#map_canvas {
	float: center;
	margin-top: 400px;
    margin-bottom: 100px;
	margin-left: 2%;
	position: absolute;
}

#map_canvas {
	float: center;
	margin-top: 450px;
	margin-left: 2%;
	position: absolute;
}


footer {
	width: 100%;
	height: 20px;
	background: #333;
	border-top: 2px solid #000;
	position: fixed;
	bottom: 0;
	z-index: 1;
}